/*  Add your styling here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

body {background-color: #FAE8E0;}

.top-nav{overflow: hidden;
  position:relative; 
  background-color:#b23a48;
  display: flex; 
   height: 5rem; 
  width: 100%;
  justify-items: center;
   margin-bottom: 1%;
    color: #FAE8E0;}

#logo { width:100px; margin:10px;}

#sub-title {font-size:20px;
    font-style: italic;
    font-weight: bold;
    text-align: end;
     /*padding: 10px;*/
     }

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar { background-color:#b23a48;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1.5rem;
  }

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*background-color: #101010;*/
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #FAE8E0;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    display:none;
}

 main {width:85%; 
       margin:auto;}
  
      .welcome {margin: 5%;
               display:flex;
              flex-direction: row-reverse;
              justify-content: space-around;align-items:center;}

.welcomecontent {margin-left:1%;}

#main-img {width:70%; height: 70%;}



.sub-img {width :200px; 
        height: 200px; padding-bottom:5%;}

.Cakes{ display: flex;
       flex-flow: row wrap;
    justify-content: space-around;
  margin-bottom:5%;
     }

footer { width:85%; margin:auto;                   }

    .footer-nav a{
        padding: 15px 30px;
      text-decoration:none;
      color: black;
      font-weight:bold;}

.copyright {     
font-weight:bold; display: flex; justify-content:center;}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #FAE8E0;
    display:block;
}

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
  
  main {width:100%; }

.welcome { width:100%; 
           display:flex; 
            flex-flow: row wrap;
           margin:5%;
            }

.welcomecontent {width:100%;}
.welcometext {width:100%;}
.welcomeimg {width:100; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
        
#main-img {width:80%; height: 80%;}


  #sub-title {display:none;}
  #main-title { text-align: center;}
  .top-nav{margin-bottom: 0%;}
  
}
